<div id="backdrop" [ngClass]="{ hidden: !open }" (click)="clicked.emit()"></div>
<div id="container">
  <div id="data">
    <div class="area">
      <app-pokemon-card [fullData]="pokemon" [selected]="true"></app-pokemon-card>
    </div>
    <div class="area">
      <p>
        <span class="tag">Tipo</span
        ><span class="type" *ngFor="let type of pokemon?.types">{{
          type.type.name
        }}</span>
      </p>
      <p><span class="tag">Altura</span>{{ pokemon?.height }}'</p>
      <p><span class="tag">Peso</span>{{ pokemon?.weight }} lbs.</p>
    </div>
    <div class="area">
      <div id="descriptionContainer">
        <div></div>
        <p>{{ description }}</p>
        <div></div>
      </div>
    </div>
  </div>
  <button (click)="clicked.emit()">
    <img
      src="assets/img/flecha.png"
      alt=""
      [ngClass]="{ rotate: open }"
    />
  </button>
</div>
