<header>
  <div id="titleContainer">
    <img src="./../assets/img/pokeball azul.svg">
    <h1>Pokedéx</h1>
    <img src="./../assets/img/pokeball azul.svg">
  </div>
  <a href="https://github.com/P4R-D4RK">Ver más proyectos</a>
</header>
<router-outlet></router-outlet>
<footer>
  <p><kbd>A</kbd> Hecho por<a href="https://www.linkedin.com/in/luis-engelberth-p-890526129/" target="_blank" style="margin-left: 5px;">Luis Polina</a></p>
	<p><kbd>X</kbd><a href="https://github.com/P4R-D4RK" target="_blank">P4R-D4RK</a></p>
</footer>