<main id="container">
  <app-detail
    [pokemon]="selectedPokemon"
    (clicked)="changeDetailState()"
    [open]="detail"
    [ngClass]="{ open: detail }"
  ></app-detail>
  <app-pokemon-photo
    [pokemon]="selectedPokemon"
    [ngClass]="{ open: detail }"
  ></app-pokemon-photo>
  <div id="cardsContainer" #cards (scroll)="onScroll($event)">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonList"
      [data]="pokemon"
      [selected]="pokemon.name === selectedPokemon?.name"
      (clicked)="clickedCard($event)"
    ></app-pokemon-card>
    <img
      src="assets/img/spinner.svg"
      alt="Cargando"
      id="spinner"
      *ngIf="loading"
    />
  </div>
</main>
