#container {
    border: 4px solid #8cbbf1;
    outline: 12px solid #f8e55c;
    max-width: 500px;
    aspect-ratio: 1;
    border-radius: 25px;
    background: repeating-linear-gradient(
        to bottom,
        #f5f7f9,
        #f5f7f9 15px,
        #c9e2f4 15px,
        #c9e2f4 25px,
    );
}